/emails
/maps
/shapes
/documentation
/data-raw/lads
/data-raw/lsoa
vignettes/*_cache
.gitignore~
.readme.md~
.Rproj.user
.RData
.DS_Store
.R*
*.jpeg
*.jpg
*.png
*.qgs
*.xlsx
*.zip
*.shp
*.shx
*.dbf
*.prj
extdata/lads
extdata/lsoa
.Rhistory
inst/doc
packrat/
