/data
/emails
/maps
/shapes
/documentation
/data-raw/lads
/data-raw/lsoa
vignettes/*_cache
.gitignore~
.readme.md~
.Rproj.user
.RData
.DS_Store
.R*
*.pdf
*.jpeg
*.jpg
*.png
*.qgs
*.xlsx
*.zip
.Rhistory
inst/doc
packrat/lib*/
